{#{% extends 'base.html.twig' %}#}
{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('css/game.css') }}" type="text/css">#}
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#    <script src="{{ asset('js/game.js') }}"></script>#}
{#{% endblock %}#}

{#{% block title %}#}
{#    Casino Game#}
{#{% endblock %}#}

{#{% block body %}#}
{#    <div class="background-image"></div>#}
{#    <div class="content">#}
{#        <div style="display: flex; flex-direction: column">#}
{#            <canvas id="casinoCanvas"></canvas>#}
{#            <div class="under-canvas">#}
{#                <div class="under-canvas-item">#}
{#                    <p id="balance" style="font-size: 15px; font-weight: bold;">BALANCE</p>#}
{#                    <p id="numeric" style="font-size: 50px;">100 000</p>#}
{#                </div>#}
{#                <div class="under-canvas-item">#}
{#                    <p id="last_win" style="font-size: 15px; font-weight: bold;">LAST WIN</p>#}
{#                    <p id="numeric" style="font-size: 50px;">50</p>#}
{#                </div>#}
{#                <div class="under-canvas-item">#}
{#                    <p id="bet" style="font-size: 15px; font-weight: bold;">BET</p>#}
{#                    <div class="bet-buttons">#}
{#                        <button class="less-button">#}
{#                            <span class="material-symbols-outlined">#}
{#                                do_not_disturb_on#}
{#                            </span>#}
{#                        </button>#}
{#                        <p id="numeric" style="font-size: 50px;">1.00</p>#}
{#                        <button class="plus-button">#}
{#                            <span class="material-symbols-outlined">#}
{#                                add_circle#}
{#                            </span>#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="spin-container">#}
{#            <button class="auto-spin-button">#}
{#                <span class="material-symbols-outlined">#}
{#                    hdr_auto#}
{#                </span>#}
{#            </button>#}
{#            <button id="spin-button" class="spin-button">#}
{#                <span class="material-symbols-outlined">#}
{#                    autorenew#}
{#                </span>#}
{#            </button>#}
{#            <button class="fast-spin-button">#}
{#                <span class="material-symbols-outlined">#}
{#                    offline_bolt#}
{#                </span>#}
{#            </button>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{% extends 'base.html.twig' %}
	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/game.css') }}" type="text/css"> <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap-reboot.min.css"/>
{% endblock %}


{% block title %}
	Casino Game
{% endblock %}

{% block body %}
	<div
		id="slot">
		{#        <div id="jackpot">Jackpot: <span id="jp">5.555.555</span></div>#}
		<div style="display: flex; flex-direction: row">
			<div id="reels">
				<div class="reel"></div>
				<div class="reel"></div>
				<div class="reel"></div>
				<div class="reel"></div>
				<div class="reel"></div>
			</div>
			<div class="spin-container">
				<button id="auto_spin_button" class="auto-spin-button">
					<span class="material-symbols-outlined">
						hdr_auto
					</span>
				</button>
				<button id="spin_button" class="spin-button">
					<span class="material-symbols-outlined">
						autorenew
					</span>
				</button>
				<button id="fast_spin_button" class="fast-spin-button">
					<span class="material-symbols-outlined">
						offline_bolt
					</span>
				</button>
			</div>
		</div>
		<div class="container_balance">

			<div style="color: white; font-size: 25px; display: flex;">
				Balance :
				<div
					id="test-get">{# {{ balance_user }}    #}
				</div>
			</div>
			<div id="" style="color: white; font-size: 25px;">
				Mise :
				{#  {{ balance_user }} #}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
