{% block stylesheets %}
    <link href="{{ asset('css/header.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="navbar">
        <div class="container-logo">
            <a class="button_link" href="{{ path('app_home') }}">
                <img class="logo-navbar" src="/assets/images/logo_maxwin.jfif">
            </a>
        </div>
        <a class="button_link" href="{{ path('app_home') }}">
            <span class="title">Max Win</span>
        </a>

        <div class="balance-profil">
            <a class="button_link" href="{{ path('app_deposit') }}" style="margin-right: 10px;">
                <button>
                    Deposit
                </button>
            </a>
            <a class="button_link" href="{{ path('app_withdraw') }}" style="margin-right: 10px;">
                <button>
                    Withdraw
                </button>
            </a>
            <p id="balance">
             {% if user.balance is defined %}
                Balance: {{ user.balance }}
             {% endif %}
             </p>
            <a class="button_link" href="{{ path('app_profil') }}">
                <button>
                    Profile
                    <i class="fa-solid fa-user"></i>
                </button>
            </a>
        </div>
    </div>
{% endblock %}