{% block stylesheets %}
    <link href="{{ asset('css/header.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="navbar">
        <div class="container-logo">
            <a class="button_link" href="{{ path('app_home') }}">
                <img class="logo-navbar" src="/assets/images/logo_maxwin.jfif">
            </a>
        </div>
        <span class="title">Max Win</span>
        <div class="balance-profil">
            <p id="balance">Balance: {{ user.balance }}</p>
            <a class="button_link" href="{{ path('app_profil') }}">
                <button>
                    Profile
                    <i class="fa-solid fa-user"></i>
                </button>
            </a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function fetchBalance() {
                fetch('{{ path('get_balance') }}', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('balance').textContent = 'Balance: ' + data.balance;
                    })
                    .catch(error => console.error('Error fetching balance:', error));
            }

            // Fetch balance every 5 seconds
            setInterval(fetchBalance, 5000);
        });
    </script>
{% endblock %}